{{ include('sector_starterkit:region-footer', {
    wrapper: 'footer',
    label: 'Footer',
    attributes: attributes.setAttribute('role', 'banner'),
    libraries: [ ],
    utility_classes: [ 'bg-neutral-800', 'text-white' ],
    container__classes: [ 'container', 'flex', 'flex-wrap', 'justify-between', 'py-4', 'lg:py-16' ]
}) }}
