.notice {
    --notice-base: theme('colors.notice.base');
    --notice-moderate: theme('colors.notice.moderate');
    --notice-critical: theme('colors.notice.critical');
    --notice-highly-critical: theme('colors.notice.highly-critical');

    .block__content {
        --container-padding: 1rem;

        @apply text-sm text-[var(--notice-color,theme('colors.white'))];

        a {
            @apply underline underline-offset-4 hover:opacity-75;
        }
    }
}

.notice__dismiss {
    @apply hover:opacity-75;
}