{#
/**
 * @file
 * Template for a local task link.
 */
#}
<a href="{{ link['#url'] }}" class="text-gray-500 hover:text-gray-700 rounded-md px-3 py-2 text-sm font-medium {{ is_active ? 'bg-gray-100 text-gray-700' }}">{{ link['#title'] }}</a>
