*+.more-link {margin-top: 1.25rem;border-top-width: 1px;--tw-border-opacity: 1;border-color: rgb(228 228 231 / var(--tw-border-opacity, 1));padding-top: 1.25rem
}.more-link>a:hover {--tw-text-opacity: 1;color: rgb(2 132 199 / var(--tw-text-opacity, 1))
}.more-link>a:focus-visible {--tw-text-opacity: 1;color: rgb(2 132 199 / var(--tw-text-opacity, 1))
}