{#
/**
 * @file
 * Template for a textarea form element.
 */
#}
{% set textarea_classes = ['form-control']|merge(utility_classes ? utility_classes : []) %}
<textarea{{ attributes.addClass(textarea_classes) }}>{{ value }}</textarea>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}