@use 'mixins/a11y';

.media-caption {
    .extlink .material-symbols-sharp {
        font-size: 1em;
    }

    .field + & {
        margin-block-start: var(--media-caption-space, theme('space.3'));
    }

    a, button {
        @include a11y.focusOutlineAndResetHover;
    }
}