.form-textfield ~ .description {
    @apply text-sm w-full space-y-1;

    .webform-element-description {
        @apply text-neutral-600;
    }
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: theme('colors.sky.600');

    border-color: var(--form-control-border, var(--tw-ring-color));
}
