img:where([src*="jpg"],[src*="jpeg"]) {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    font-style: italic;
    background-image: var(--placeholder);
}