.video video {
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: top
}