.chart {border-width: 1px;padding: 1.5rem;--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);--icon-size: 1.25em
}.chart a:not(.chart__download) {text-decoration-line: underline;text-underline-offset: 2px
}.chart__title {margin-bottom: 1rem;font-size: 1.25rem;line-height: 1.75rem;font-weight: 600
}@container chart (min-width: 32rem) {.chart__title {font-size: 1.5rem;line-height: 2rem
}
}.chart__figure figcaption {margin-top: 1rem;font-size: 1rem;line-height: 1.5rem;line-height: 1.625;--tw-text-opacity: 1;color: rgb(64 64 64 / var(--tw-text-opacity, 1))
}.chart__data-table {font-size: 1rem;line-height: 1.5rem;line-height: 1.625;--tw-text-opacity: 1;color: rgb(64 64 64 / var(--tw-text-opacity, 1))
}.chart__data-table summary {display: inline-flex;cursor: pointer;list-style-type: none;align-items: center;-moz-column-gap: 0.25rem;column-gap: 0.25rem;font-weight: 500;outline: 2px solid transparent;outline-offset: 2px
}.chart__data-table summary:hover {--tw-text-opacity: 1;color: rgb(3 105 161 / var(--tw-text-opacity, 1))
}.chart__data-table summary:focus {--tw-text-opacity: 1;color: rgb(3 105 161 / var(--tw-text-opacity, 1))
}.chart__data-table table {width: 100%
}*+:is(.chart__data-table,.chart__sources,.chart__download,.chart__footnotes) {margin-top: 1rem
}.chart__footnotes {margin-left: -1.5rem;margin-right: -1.5rem;margin-bottom: -1.5rem;--tw-bg-opacity: 1;background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));padding: 1.5rem;font-size: 0.875rem;line-height: 1.25rem;line-height: 1.625;--tw-text-opacity: 1;color: rgb(115 115 115 / var(--tw-text-opacity, 1))
}.chart__download {display: inline-flex;align-items: center;-moz-column-gap: 0.25rem;column-gap: 0.25rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border-radius: 0.5rem;--tw-bg-opacity: 1;background-color: rgb(2 132 199 / var(--tw-bg-opacity, 1));padding-left: 1.5rem;padding-right: 1.5rem;padding-top: 0.75rem;padding-bottom: 0.75rem;font-size: 1rem;line-height: 1.5rem;font-weight: 600;line-height: 1;--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity, 1));text-decoration-line: none
}.chart__download:hover {--tw-bg-opacity: 1;background-color: rgb(3 105 161 / var(--tw-bg-opacity, 1))
}.chart__sources {font-size: 1rem;line-height: 1.5rem;line-height: 1.625;--tw-text-opacity: 1;color: rgb(64 64 64 / var(--tw-text-opacity, 1))
}.chart__sources>dt {margin-bottom: 0.5rem;font-size: 1.125rem;line-height: 1.75rem;font-weight: 600
}.ck .chart canvas {border-width: 1px;border-style: dashed
}.\@container\/chart+.\@container\/chart {margin-top: 2.5rem
}