.region__wrap {
    @apply gap-y-[var(--body-grid-gap-y,theme('spacing.8'))] gap-x-[var(--body-grid-gap-x,theme('spacing.8'))];

    > .region {
        @apply lg:row-start-1;
    }

    .region--content {
        @apply col-start-1 lg:col-end-13 lg:row-start-1;
    }

    .page--has-content-prefix & .region--content {
        @apply lg:col-start-4;
    }

    .page--has-content-suffix & .region--content {
        @apply lg:col-end-10;
    }

    .region--content-prefix {
        @apply row-start-1 lg:col-start-1 lg:col-end-4;
    }

    .region--content-suffix {
        @apply row-start-2 lg:row-start-1 lg:col-start-10 lg:col-end-13;
    }
}

.force-secondary-menu-sidebar .region__wrap .region--content {
    @apply lg:col-end-10;
}