.region__wrap {row-gap: var(--body-grid-gap-y,2rem);-moz-column-gap: var(--body-grid-gap-x,2rem);column-gap: var(--body-grid-gap-x,2rem)
}@media (min-width: 1024px) {.region__wrap>.region {grid-row-start: 1
    }
}.region__wrap .region--content {grid-column-start: 1
}@media (min-width: 1024px) {.region__wrap .region--content {grid-column-end: 13;grid-row-start: 1
    }.page--has-content-prefix .region__wrap .region--content {grid-column-start: 4
    }.page--has-content-suffix .region__wrap .region--content {grid-column-end: 10
    }
}.region__wrap .region--content-prefix {grid-row-start: 1
}@media (min-width: 1024px) {.region__wrap .region--content-prefix {grid-column-start: 1;grid-column-end: 4
    }
}.region__wrap .region--content-suffix {grid-row-start: 2
}@media (min-width: 1024px) {.region__wrap .region--content-suffix {grid-column-start: 10;grid-column-end: 13;grid-row-start: 1
    }.force-secondary-menu-sidebar .region__wrap .region--content {grid-column-end: 10
    }
}