:where([dir="ltr"]) {
    .text-align-center {
        text-align: var(--text-align-override, center);
    }

    .text-align-right {
        text-align: var(--text-align-override, right);
    }

    .text-align-justify {
        text-align: var(--text-align-override, justify);
    }
}