:root {
  --custom-font: Inter, theme(fontFamily.sans);
  --custom-font-alternate: Inter, theme(fontFamily.sans);
  --custom-display: Inter, theme(fontFamily.sans);
  --a11y-focus-color: theme('colors.pink.500');
}

html,
body {
  @apply font-custom font-normal motion-safe:focus-within:scroll-smooth;

	font-variation-settings: 'slnt' 0;
}

i, em, .italic {
	font-variation-settings: 'ital' 1;
}