.subtitle {
  --subtitle-color: theme(colors.neutral.700);
  @apply text-[var(--subtitle-color-override,var(--subtitle-color))];
}

.subtitle p {
  text-wrap: var(--subtitle-text-wrap, balance);

  a:not(.btn) {
    @apply underline underline-offset-4;
  }

  // I don't like these here
  :is(.link--promo--light--arrow, .link--promo--dark--arrow) {
    @apply text-base;
  }

  .btn {
    @apply my-2;
  }
}
