.page-title {
  --title-color: inherit;
  @apply text-4xl md:text-5xl lg:text-7xl tracking-tighter font-custom font-black text-[var(--title-color-override,var(--title-color))];

  text-wrap: var(--text-wrap-override, balance);
}
