.related .field__items {
    @apply space-y-2;
}

.related--links .field__item > a,
.related--documents .file > a {
    @apply font-medium hover:text-sky-600 focus-visible:text-sky-600 underline underline-offset-2;
}

.related--links .field__item > a {
    .extlink {
        @apply align-middle;
    }

    .material-symbols-sharp {
        @apply text-lg mx-1;
    }
}
