{{ include('sector_starterkit:prose', {
    utility_classes: [ ],
    container: '@container/prose',
    libraries: [ ]
} ) }}

{# Optional extra components included in prose sections #}
{{ attach_library('core/components.sector_starterkit--callout') }}
{{ attach_library('core/components.sector_starterkit--link') }}
{{ attach_library('core/components.sector_starterkit--button') }}