@use "utils";
@use "tables";
@use "mixins/icon";

// gotta be a better way to do this

.prose {
  @include utils.prose;
  @include tables.prose;
}

.prose .btn {
  @apply no-underline;
}

.prose *:has(.btn + .btn) > .btn {
  @apply me-2;
}

.prose :where(picture):not(:where([class~="not-wysiwyg"],[class~="not-wysiwyg"] *)) {
  margin-block: 0 !important;
}