{#
/**
 * Template for a menu.
 */
#}
{{ include('sector_starterkit:navigation-xs', {
    libraries: [
        'sector_starterkit/' ~ menu_name|clean_class,
        'sector_starterkit/navigation',
        'sector_starterkit/navigation-xs',
    ],
    render_toggle: false,
    utility_classes: [
        'navigation',
        'navigation--xs'
    ],
    id: 'tertiary-navigation',
}) }}
