{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}
{% set radios_classes = ['form-radios']|merge(utility_classes ? utility_classes : []) %}
<div{{ attributes.addClass(radios_classes) }}>{{ children }}</div>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}