{#
/**
 * Template for a menu.
 */
#}
{{ include('sector_starterkit:navigation-md', {
    libraries: [
        'sector_starterkit/' ~ menu_name|clean_class,
        'sector_starterkit/navigation',
        'sector_starterkit/navigation-md',
        'sector_starterkit/block-title'
    ],
    attributes: attributes.setAttribute('data-behavior', 'toggle'),
    render_toggle: false,
    utility_classes: [
        'navigation',
        'navigation--md',
        '@container/navigation'
    ],
    id: 'nav-sidebar',
}) }}
