{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/card h-full">
{{ include("sector_demo:card", {
    entity: 'node',
    libraries: [
        'sector_demo/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class
    ],
    utility_classes: [
        'block',
        'card',
        'card--large',
        'bg-white',
        'rounded-lg',
        'shadow',
        'group',
        'h-full',
    ],
    content_classes: [
        'p-5 has-[.field-group-link]:p-0'
    ],
})}}
</div>
