.node__published-status {
    background-color: var(--entity-moderation-form-state-bg, #fcd34d);
    padding: var(--entity-moderation-form-state-p, 1em);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: .25em;
    margin-bottom: 1rem;
}

.admin-ui-hidden .node__published-status {
    display: none;
}

.node--unpublished:not(.node--full) {
    outline: 1px dashed var(--unpublished-node-tint, #fcd34d);
    outline-offset: -1px;
    background-color: var(--unpublished-node-bg, transparent);
}