{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/node">
{{ include("sector_theme:node", {
    title_link_attributes: title_link_attributes.setAttribute('rel', 'bookmark'),
})}}
</div>