{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
  * Available config:
  * - remove_form_control: Allows to remove the form-control class. Use mainly
  * for checkboxes and radio buttons.
  * - utility_classes: An array of utility classes.
 */
#}
{%
  set input_classes = [
  ]|merge(utility_classes ? utility_classes : [])
%}
{% set button_value = attributes.value ? attributes.value : null %}
{% if children or button_value %}
  <button{{ attributes.addClass(input_classes) }}>
    {% if icon %}
      {{ include('sector_theme:icon', {
        icon: icon,
        utility_classes: [ 'button__icon' ]
      })}}
    {% endif %}{{ button_value }}{{ children }}</button>
{% endif %}
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
