:where(a, button).btn {
  padding-inline: var(--btn-padding-inline, .75em);
  padding-block: var(--btn-padding-block, 1.5em);
  font-size: var(--btn-font-size, 1em);
  font-weight: var(--btn-font-weight, 600);
}

:where(a, button).btn:not([disabled]) {
    cursor: pointer;
}