{#
/**
 * @file
 * Template for the page title.
 */
#}
{% include "sector_starterkit:card-title" with {
  title_tag: 'h2',
  title_utility_classes: [
    'text-xl',
    '@md/card:text-2xl',
    'font-black',
    'tracking-tight'
  ],
  libraries: [
    'sector_starterkit/page-title'
  ]
} %}
