.list-item .node__content {
    > .field-group-link {
        @apply block space-y-2;

        &:hover, &:focus-visible {
            .title, &::after {
                @apply text-sky-600;
            }
        }

        &[data-link-label]::after {
            content: attr(data-link-label) "\00a0" "\00BB";

            @apply inline-block mt-2 font-medium text-lg;
        }
    }

    &:not(:has(> .field-group-link)) {
        @apply space-y-2;

        .title {
            &:hover, &:focus-visible {
                @apply text-sky-600;
            }
        }

        .field--type-entity-reference {
            &:hover, &:focus-visible {
                @apply bg-sky-800 text-white;
            }
        }
    }
}
