{#
/**
 * @file
 * Template for a block.
 */
#}
{{ include('sector_demo:banner-minimal', {
  html_tag: 'div',
  utility_classes: [
    'banner',
    'banner--minimal',
    'container',
    'relative',
    'z-10',
    'py-10',
    'lg:py-16'
  ],
  libraries: [
    'sector_demo/block-group',
    'sector_demo/banner',
    'sector_demo/banner-minimal',
  ]
}) }}
