{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/node">
{{ include("sector_starterkit:node", {
    libraries: ['sector_starterkit/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    utility_classes: [
        'node--' ~ view_mode|clean_class
    ],
    content_classes: [
        'grid',
        'gap-y-8'
    ]
})}}
</div>