{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/list-item">
{{ include("sector_demo:list-item", {
    entity: 'node',
    libraries: ['sector_demo/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    utility_classes: [
        'list-item',
        'list-item--minimal'
    ]
})}}
</div>