.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    outline-color: var(--a11y-focus-color, orange);
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

:where(a:focus-visible, button:focus-visible) {
    outline: 3px solid var(--a11y-focus-color, orange);
    outline-offset: -3px;
}