{#
/**
 * @file
 * Template for a user view.
 */
#}
{% set classes = [
  'user',
  'user--' ~ view_mode|clean_class,
]|merge(utility_classes ? utility_classes : []) %}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {{- content|without('summary') -}}
  {% endblock %}
</article>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}