.disclosure-body {
    > *:first-child {
        @apply mt-0;
    }

    > *:last-child {
        @apply mb-0;
    }

    .disclosure[open] & {
        @apply mt-3;
    }
}

.disclosure[open] .disclosure-summary .material-symbols-sharp {
    @apply rotate-180;
}