{{ include('sector_demo:disclosure', {
    summary_classes: [ 'font-semibold', 'hover:text-sky-600', 'focus-visible:text-sky-600', 'flex', 'gap-x-1', 'items-center', ],
    body_classes: [ 'bg-neutral-50', 'p-6' ],
    summary_icon_suffix: include('sector_theme:icon', {
        icon: 'keyboard_arrow_down',
        utility_classes: [
            'will-change',
            'transform',
            'transition-transform',
        ]
    })
}) }}