{#
/**
 * @file
 * Template for a block.
 */
#}
{{ include('sector_starterkit:banner-maximal', {
  html_tag: 'div',
  utility_classes: [
    'banner',
    'banner--maximal',
    'container',
    'relative',
    'z-10',
    'py-24',
    'lg:py-48',
    '2xl:py-64'
  ],
  libraries: [
    'sector_starterkit/block-group',
    'sector_starterkit/banner',
    'sector_starterkit/banner-maximal',
  ]
}) }}
