.magnet {display: inline-block;border-radius: 9999px;--tw-bg-opacity: 0;padding-left: 1rem;padding-right: 1rem;padding-top: 0.5rem;padding-bottom: 0.5rem;font-size: 1rem;line-height: 1.5rem;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);--tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity, 1));--tw-ring-opacity: 0.5;color: currentColor
}.magnet a:not(.btn,[class*=promo]) {color: currentColor
}