{{ include('sector_demo:region-hero', {
    wrapper: 'section',
    libraries: [ ],
    utility_classes: [
        'relative',
        'overflow-hidden'
    ],
    label: 'Hero',
    container__classes: [
        'py-0'
    ]
}) }}
