{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}
{% if content %}
<{{ html_tag|default('div') }}{{ attributes|without('id').addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <button type="button" class="search__toggle w-12 h-12 place-items-center" aria-expanded="false" aria-controls="{{ attributes.id }}">
        <span class="sr-only">Show search</span>
        {{ include('sector_theme:icon', {
            icon: 'search'
        })}}
    </button>
    {{ content }}
  {% endblock %}

</{{ html_tag|default('div') }}>
{% endif %}