@use 'mixins/details';
@use 'mixins/a11y';


.webform-more__sumamry {
    @include details.removeDetailsArrow;
    @include a11y.focusOutlineAndResetHover;

    @apply cursor-pointer inline-flex items-center hover:text-sky-600 focus-visible:text-sky-600;
}

.webform-more__indicator {
    @apply text-[inherit] leading-none transform;

    [open] & {
        @apply rotate-180;
    }
}

.webform-more__content {
    @apply bg-neutral-100 p-4 mt-1;
}