{#
/**
 * Template for a menu.
 */
#}
{{ include('sector_demo:navigation-lg', {
    libraries: [
        'sector_demo/' ~ menu_name|clean_class,
        'sector_demo/navigation',
        'sector_demo/navigation-lg',
    ],
    attributes: attributes.setAttribute('data-behavior', 'toggle'),
    render_toggle: true,
    render_submenu_toggle: true,
    utility_classes: [
        'contents',
        'lg:block',
        'navigation',
        'navigation--lg',
        '@container/navigation'
    ],
    id: 'main-navigation',
}) }}
