:root {
  --custom-font: Inter, theme(fontFamily.sans);
  --custom-font-alternate: Roboto, theme(fontFamily.sans);
  --custom-display: FjallaOne, theme(fontFamily.sans);
}

html,
body {
  @apply font-custom font-normal motion-safe:focus-within:scroll-smooth;

	font-variation-settings: 'slnt' 0;
}

i, em, .italic {
	font-variation-settings: 'ital' 1;
}