{#
/**
 * @file
 * Default theme implementation for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - is_inline: If false, display an ordinary field.
 *   If true, display an inline format, suitable for inside elements such as
 *   <span>, <h2> and so on.
 *
 * @see field.html.twig
 * @see node_preprocess_field__node()
 *
 * @ingroup themeable
 *
 * @todo Delete as part of https://www.drupal.org/node/3015623
 */
#}
{% set title_tag = title_tag ?? 'span' %}
{% set title_classes = [
  'title',
]|merge(title_utility_classes ? title_utility_classes : []) %}
<{{title_tag}} {{ attributes.addClass(title_classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</{{title_tag}}>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
