{#
/**
 * @file
 * Template for the breadcrumb.
 */
#}
{{ include('sector_starterkit:breadcrumb', {
  breadcrumb: breadcrumb,
  utility_classes: [ 'breadcrumb' ],
  libraries: [
    'sector_starterkit/breadcrumb'
  ]
}) }}
