{{ include('sector_demo:prose', {
    utility_classes: [ ],
    container: '@container/prose',
} ) }}

{# Optional extra components included in prose sections #}
{{ attach_library('core/components.sector_demo--callout') }}
{{ attach_library('core/components.sector_demo--link') }}
{{ attach_library('core/components.sector_demo--button') }}