.region:has(.hero__wallpaper .media.dark) {
    --title-color-override: theme('colors.neutral.50');
    --subtitle-color-override: theme('colors.neutral.50');
}

.banner {
    text-align: var(--text-placement, left);
}