{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    css_name ? 'view--' ~ css_name,
  ]|merge(utility_classes ? utility_classes : [])
%}
{% set title = title ?? true %}

<div{{ attributes.addClass(classes) }}>
  {% block title %}
   {% if title %}
    {% include "sector_theme:title" %}
   {% endif %}
  {% endblock %}

  {% block header %}
    {% if header %}
      <div class="view__header">
        {{ header }}
      </div>
    {% endif %}
  {% endblock %}

  {% block exposed %}
    {% if exposed %}
      <div class="view__filters">
        {{ exposed }}
      </div>
    {% endif %}
  {% endblock %}

  {% block attachment_before %}
    {% if attachment_before %}
      <div class="view__attachment view__attachment--before">
        {{ attachment_before }}
      </div>
    {% endif %}
  {% endblock %}

  {% block rows %}
    {% if rows %}
      <div class="view__content">
        {{ rows }}
      </div>
    {% elseif empty %}
      <div class="view__empty">
        {{ empty }}
      </div>
    {% endif %}
  {% endblock %}

  {% block pager %}
    {% if pager %}
      {{ pager }}
    {% endif %}
    {% if attachment_after %}
      <div class="view__attachment view__attachment--after">
        {{ attachment_after }}
      </div>
    {% endif %}
  {% endblock %}

  {% block more %}
    {% if more %}
      {{ more }}
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if footer %}
      <div class="view__footer">
        {{ footer }}
      </div>
    {% endif %}
  {% endblock %}

  {% block feed_icons %}
    {% if feed_icons %}
      <div class="view__feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
  {% endblock %}
</div>
