{{ include('sector_demo:region-footer', {
    wrapper: 'section',
    label: 'Footer',
    libraries: [ ],
    utility_classes: [ 'bg-gray-800', 'text-white' ],
    container__classes: [ 'container', 'flex', 'flex-wrap', 'justify-between', 'py-4', 'lg:py-16' ]
}) }}
