.pager__items {
    @apply grid justify-center items-center gap-x-4 font-semibold bg-zinc-50 p-3;

    grid-template-columns: 1fr auto 1fr;

    .active, .page-link:hover, .page-link:focus-visible {
        @apply text-sky-600;
    }

    .active {
        @apply underline underline-offset-2;
    }
}

.pager__item--next {
    @apply ml-auto;
}

.pager__item--previous {
    @apply mr-auto;
}

.pager__pages, .pager__jump-group {
    @apply gap-3;
}

.pager__item {
    @apply whitespace-nowrap;
}