.pager__items {display:grid;align-items:center;justify-content:center;-moz-column-gap:1rem;column-gap:1rem;--tw-bg-opacity:1;background-color:rgb(250 250 250 / var(--tw-bg-opacity, 1));padding:0.75rem;font-weight:600;grid-template-columns:1fr auto 1fr
}.pager__items .active,.pager__items .page-link:hover,.pager__items .page-link:focus-visible {--tw-text-opacity:1;color:rgb(2 132 199 / var(--tw-text-opacity, 1))
}.pager__items .active {text-decoration-line:underline;text-underline-offset:2px
}.pager__item--next {margin-left:auto
}.pager__item--previous {margin-right:auto
}.pager__pages,.pager__jump-group {gap:0.75rem
}.pager__item {white-space:nowrap
}