{#
/**
 * Template for a menu.
 */
#}
{{ include('sector_demo:navigation-xs', {
    libraries: [
        'sector_demo/' ~ menu_name|clean_class,
        'sector_demo/navigation',
        'sector_demo/navigation-xs',
    ],
    render_toggle: false,
    utility_classes: [
        'navigation',
        'navigation--xs'
    ],
    id: 'tertiary-navigation',
}) }}
