.exposed-form {
  @apply antialiased;

  .btn {
    @apply my-0;
  }

  .form-item {
    @apply flex items-center gap-y-1 flex-wrap @md/view:flex-nowrap gap-x-2;
  }

  label {
    @apply text-sm uppercase;
  }

  .form-actions {
    @apply flex items-center flex-wrap gap-2;
  }
}
