{#
/**
 * Template for a menu.
 */
#}
{{ include('sector_starterkit:navigation-xl', {
    libraries: [
        'sector_starterkit/' ~ menu_name|clean_class,
        'sector_starterkit/navigation',
    ],
    render_toggle: false,
    utility_classes: [
        'navigation',
        'navigation--xl',
        '@container/navigation'
    ],
    id: 'large-navigation',
}) }}
