html,
body {
  @apply motion-safe:scroll-smooth text-neutral-950;
}

.canvas {
  @apply antialiased;
}

.region__container {
  @supports (selector(:has(*))) {
    &:not(:has(*)) {
      display: none;
    }
  }
}
