.callout {
  @apply block border border-l-8 border-l-primary p-4 leading-normal text-neutral-600 shadow-sm;

  &.callout--primary {
    @apply border-l-primary;
  }

  &.callout--alert {
    @apply border-l-alert;
  }

  &.callout--notice {
    @apply border-l-notice;
  }
}
