{{ include('sector_workflow:content-moderation', {
    utility_classes: [
        'font-mono',
        'flex',
        'flex-wrap',
        'gap-4'
    ],
    submit_classes: [
        'p-4',
        'flex',
        'items-center',
        'h-16',
        'self-end'
    ]
}) }}