{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
      'file__wrapper',
    ]|merge(utility_classes ? utility_classes : [])
%}
<div{{ attributes.addClass(classes) }}>
  <span class="file__icon material-symbols-sharp" aria-hidden="true">download_for_offline</span>
  {{- link -}}
  <p class="file__meta not-wysiwyg">
    <abbr class="file__type" title="{{ file_type.human }}">{{- file_type.extension -}}</abbr>,
    <span class="file__size">{{ file_size }}</span>
  </p>
</div>
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
