.table-of-contents {
    @apply antialiased text-neutral-900;

    .toc__heading {
        @apply mb-2 block font-bold text-xl;
    }
}

.toc__contents {
    @apply space-y-1 text-base;

    list-style-type: '\2015\00a0\00a0';
    list-style-position: inside;

    a {
        @apply outline-none underline underline-offset-4 hover:text-sky-700 focus-visible:text-sky-700 focus-visible:ring-sky-700;
    }
}