.table-of-contents {--tw-text-opacity:1;color:rgb(23 23 23 / var(--tw-text-opacity, 1));-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}.table-of-contents .toc__heading {margin-bottom:0.5rem;display:block;font-size:1.25rem;line-height:1.75rem;font-weight:700
}.toc__contents > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0.25rem * var(--tw-space-y-reverse))
}.toc__contents {font-size:1rem;line-height:1.5rem;list-style-type:"―  ";list-style-position:inside
}.toc__contents a {text-decoration-line:underline;text-underline-offset:4px;outline:2px solid transparent;outline-offset:2px
}.toc__contents a:hover {--tw-text-opacity:1;color:rgb(3 105 161 / var(--tw-text-opacity, 1))
}.toc__contents a:focus-visible {--tw-text-opacity:1;color:rgb(3 105 161 / var(--tw-text-opacity, 1));--tw-ring-opacity:1;--tw-ring-color:rgb(3 105 161 / var(--tw-ring-opacity, 1))
}