.user-form {
    @apply antialiased text-base max-w-3xl me-auto;

    > p:not(:last-child) {
        @apply mb-3;
    }

    > .form-actions {
        @apply mt-8;
    }

    .form-item .description {
        @apply block mt-1 leading-snug;
    }

    .form-item {
        @apply mb-3;
    }

    details.form-wrapper {
        @apply p-4 bg-neutral-100 shadow;

        > summary {
            @apply mb-3 list-none font-medium;
        }
    }

    .password-strength {
        @apply my-5 space-y-2;
    }

    .password-strength__title {
        @apply block text-sm uppercase tracking-wide text-neutral-500;
    }

    .password-strength__meter {
        @apply bg-neutral-200 rounded-lg overflow-hidden;
    }

    .password-strength__indicator:is(.is-strong, .is-good) {
        @apply bg-green-400;
    }

    .password-strength__indicator:is(.is-fair) {
        @apply bg-amber-400;
    }

    .password-strength__indicator:is(.is-weak) {
        @apply bg-red-400;
    }

    .password-suggestions ul {
        @apply list-disc ms-4 my-3 text-sm;
    }


    .password-confirm-message {
        @apply my-3;
    }

    .password-confirm-message > span[class] {
        @apply font-semibold uppercase tracking-wide text-sm text-white bg-black px-1 py-1 rounded leading-none;

        &:is(.ok) {
            @apply bg-green-500;
        }

        &:is(.error) {
            @apply bg-red-500;
        }
    }
}