.media--type-document:where(.media--view-mode-sector-4-lg) {
    @apply bg-neutral-100 p-5 rounded;

    &:has(.media-caption) .file-field {
        @apply mb-3 pb-3 border-b;
    }
}

.media--type-document:where(.media--view-mode-sector-4-lg) .file__wrapper {
    .file__icon {
        @apply row-span-2;
    }
}

@container file-link (min-width: 28rem) {
    .media--type-document:where(.media--view-mode-sector-4-lg) .file__wrapper  {
        --icon-size: 2.25em;
        --link-size: theme('fontSize.xl');
    }
}

.ck .drupal-media:has(.media--type-document) {
    display: block;
}