{% for facet in facets %}
  <div {{ facet.attributes.addClass('facet-block') }}>
    {% if show_title %}
      <p class="facet-block__title block__title">{{ facet.title }}</p>
    {% endif %}
    <div class="facet-block__content">{{ facet.content }}</div>
  </div>
{% endfor %}
{{ attach_library('core/components.sector_starterkit--block-title') }}