.search-results .view__header {font-family: var(--custom-font-alternate);font-size: 1.5rem;line-height: 2rem;font-weight: 500
}@media (min-width: 1024px) {.search-results .view__header {font-size: 1.875rem;line-height: 2.25rem
    }
}.search-results .view__header mark {background-color: transparent;--tw-text-opacity: 1;color: rgb(14 165 233 / var(--tw-text-opacity, 1))
}