.callout {display: block;border-width: 1px;border-left-width: 8px;--tw-border-opacity: 1;border-left-color: rgb(2 132 199 / var(--tw-border-opacity, 1));padding: 1rem;line-height: 1.5;--tw-text-opacity: 1;color: rgb(82 82 82 / var(--tw-text-opacity, 1));--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}.callout.callout--primary {--tw-border-opacity: 1;border-left-color: rgb(2 132 199 / var(--tw-border-opacity, 1))
}.callout.callout--alert {border-left-color: var(--alert, #9a3412)
}.callout.callout--notice {--tw-border-opacity: 1;border-left-color: rgb(22 78 99 / var(--tw-border-opacity, 1))
}