.user-form {margin-inline-end: auto;max-width: 48rem;font-size: 1rem;line-height: 1.5rem;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale
}.user-form>p:not(:last-child) {margin-bottom: 0.75rem
}.user-form>.form-actions {margin-top: 2rem
}.user-form .form-item .description {margin-top: 0.25rem;display: block;line-height: 1.375
}.user-form .form-item {margin-bottom: 0.75rem
}.user-form details.form-wrapper {--tw-bg-opacity: 1;background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));padding: 1rem;--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}.user-form details.form-wrapper>summary {margin-bottom: 0.75rem;list-style-type: none;font-weight: 500
}.user-form .password-strength {margin-top: 1.25rem;margin-bottom: 1.25rem
}.user-form .password-strength > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0;margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}.user-form .password-strength__title {display: block;font-size: 0.875rem;line-height: 1.25rem;text-transform: uppercase;letter-spacing: 0.025em;--tw-text-opacity: 1;color: rgb(115 115 115 / var(--tw-text-opacity, 1))
}.user-form .password-strength__meter {overflow: hidden;border-radius: 0.5rem;--tw-bg-opacity: 1;background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1))
}.user-form .password-strength__indicator:is(.is-strong,.is-good) {--tw-bg-opacity: 1;background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1))
}.user-form .password-strength__indicator:is(.is-fair) {--tw-bg-opacity: 1;background-color: rgb(251 191 36 / var(--tw-bg-opacity, 1))
}.user-form .password-strength__indicator:is(.is-weak) {--tw-bg-opacity: 1;background-color: rgb(248 113 113 / var(--tw-bg-opacity, 1))
}.user-form .password-suggestions ul {margin-top: 0.75rem;margin-bottom: 0.75rem;margin-inline-start: 1rem;list-style-type: disc;font-size: 0.875rem;line-height: 1.25rem
}.user-form .password-confirm-message {margin-top: 0.75rem;margin-bottom: 0.75rem
}.user-form .password-confirm-message>span[class] {border-radius: 0.25rem;--tw-bg-opacity: 1;background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));padding-left: 0.25rem;padding-right: 0.25rem;padding-top: 0.25rem;padding-bottom: 0.25rem;font-size: 0.875rem;line-height: 1.25rem;font-weight: 600;text-transform: uppercase;line-height: 1;letter-spacing: 0.025em;--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}.user-form .password-confirm-message>span[class]:is(.ok) {--tw-bg-opacity: 1;background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}.user-form .password-confirm-message>span[class]:is(.error) {--tw-bg-opacity: 1;background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1))
}