.navigation--xl .navigation__list {display: flex;grid-auto-flow: column;flex-direction: column;gap: 2rem;font-size: 1.25rem;line-height: 1.75rem
}@media (min-width: 1024px) {.navigation--xl .navigation__list {display: grid
    }
}.navigation--xl .navigation__list>.menu__item>.menu__link {border-bottom-width: 1px;--tw-border-opacity: 1;border-color: rgb(228 228 231 / var(--tw-border-opacity, 1));padding-bottom: 0.5rem;font-weight: 500
}.navigation--xl .menu__link {display: block
}.navigation--xl .menu__link:hover {--tw-text-opacity: 1;color: rgb(14 165 233 / var(--tw-text-opacity, 1))
}.navigation--xl .menu__link:focus-visible {--tw-text-opacity: 1;color: rgb(14 165 233 / var(--tw-text-opacity, 1))
}.navigation--xl button.menu__toggle {display: none
}.navigation--xl .navigation__sub-menu {position: static;display: block
}.navigation--xl .navigation__sub-menu > :not([hidden]) ~ :not([hidden]) {--tw-divide-y-reverse: 0;border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));border-bottom-width: calc(1px * var(--tw-divide-y-reverse));--tw-divide-opacity: 1;border-color: rgb(228 228 231 / var(--tw-divide-opacity, 1))
}.navigation--xl .navigation__sub-menu {font-size: 1rem;line-height: 1.5rem;--tw-text-opacity: 1;color: rgb(113 113 122 / var(--tw-text-opacity, 1))
}.navigation--xl .navigation__sub-menu .menu__link {padding-top: 0.5rem;padding-bottom: 0.5rem
}.navigation--xl .navigation__sub-menu .navigation__sub-menu {border-top-width: 1px;--tw-border-opacity: 1;border-color: rgb(228 228 231 / var(--tw-border-opacity, 1));font-size: 0.875rem;line-height: 1.25rem
}.navigation--xl .navigation__sub-menu .navigation__sub-menu .menu__link {padding-inline-start: 0.75rem
}