{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/search-result">
{{ include("sector_demo:search-result", {
    libraries: ['sector_demo/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    title_classes: [ 'text-xl', 'lg:text-2xl', 'tracking-tight', 'font-extrabold' ],
    title_link_attributes: title_link_attributes.setAttribute('rel', 'bookmark'),
    title_link_classes: ['hover:text-sky-500', 'focus-visible:text-sky-500'],
    utility_classes: [
        'search-result',
        'py-5'
    ],
    content_classes: [
        'text-lg',
        'mt-3',
        'max-w-prose'
    ]
})}}
</div>