{#
/**
 * @file
 * Template for a block.
 */
#}
{{ include('sector_theme:block-group', {
  html_tag: 'div',
  utility_classes: [
  ],
  blockgroup_content_classes: [
    'md:grid',
    'md:gap-4',
    'md:grid-cols-12',
    'lg:gap-x-10',
    '2xl:gap-x-20'
  ],
  libraries: []
}) }}
