{#
/**
 * @file
 * Template for a block.
 */
#}
{{ include("sector_theme:block", {
  html_tag: 'div',
  utility_classes: ['@container/block-group' ],
  title_classes: [ 'font-extrabold', 'text-2xl', '@md/block-group:text-3xl', 'antialiased' ]
})}}
