.maintenance-page {
  --maintenance-heading-font-size: theme("fontSize.5xl");

  html:has(&) {
    @apply h-full;
  }

  @apply h-full text-white text-center;

  .dialog-off-canvas-main-canvas {
    @apply flex items-center justify-center h-full;

    & > div:first-child {
      background: linear-gradient(
        144deg,
        rgb(0 8 19) 0%,
        30%,
        rgb(37 65 77) 58%,
        80%,
        rgb(76 31 10) 100%
      );
      background-size: cover;
    }
  }

  h1 {
    @apply font-black;

    font-family: var(--custom-font);
  }
}
