{#
/**
 * @file
 * Template for the maintenance page.
 */
#}
{{ include('sector_demo:maintenance', {
  utility_classes: ['flex items-center justify-center flex-col w-min border-2 border-solid shadow-xl rounded-xl border-gray-500 p-16'],
  libraries: [
    'sector_demo/maintenance'
  ]
}) }}
