{#
/**
 * @file
 * Default implementation for Material Icon field.
 *
 * Available variables:
 * - icon: the name of the icon being used for templating.
 * - family: the style for the icon.
 * - classes: the additional classes to add..
 *
 * @ingroup themeable
 */
#}
<span {{ attributes.setAttribute('aria-hidden', 'true')}} class="{{ family }} {{ classes|default() }}">{{ icon }}</span>
