.facet-summary {display: flex;flex-wrap: wrap;-moz-column-gap: 1rem;column-gap: 1rem
}@media (min-width: 1024px) {.facet-summary {row-gap: 1.25rem
    }
}@media (min-width: 1280px) {.facet-summary {row-gap: 2rem
    }
}.facet-summary>div:not([class]) {order: 10;width: 100%
}.facet-summary-item--clear {margin-inline-start: auto;display: flex;flex-wrap: wrap;gap: 0.25rem;font-size: 1rem;line-height: 1.5rem
}