.maintenance-page {

  html:has(&) {
    height: 100%;
  }

  height: 100%;
  text-align: center;
  color: white;

  .dialog-off-canvas-main-canvas {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    & > div:first-child {
      background: rgb(33 59 71);
    }
  }

  header {
    margin-block-end: 2rem;
    img {
      max-height: 100px;
    }
  }

  h1 {
    font-weight: 900;
    font-family: var(--custom-font);
    font-size: var(--maintenance-heading-font-size, 3rem);
    white-space: nowrap;
    line-height: 1;
  }
}
