.layout {
    &:where(.apply-margin-bottom) {
        --layout-mb: theme('spacing.10');

        margin-bottom: var(--layout-mb-override, var(--layout-mb));

        @screen lg {
            --layout-mb: theme('spacing.24');
        }
    }

    .is-sticky {
        position: var(--is-sticky-position-override, sticky);
        top: calc(var(--is-sticky-top-override, theme('spacing.6')) + var(--gin-toolbar-y-offset, 0rem));
    }

    &:where(.is-centered) {
        --text-align: var(--text-align-override, center);
    }
}