.note {
    @apply border border-solid border-l-8 antialiased;

    --note-tint: theme('colors.notice.base');
    --note-padding: theme('space.4');

    border-color: var(--note-tint-override, var(--note-tint));

    *:not([hidden]) + & {
        @apply mt-5 @lg:mt-8;
    }

    &:where(.note--moderate) {
        --note-tint: theme('colors.notice.moderate');
    }

    &:where(.note--critical) {
        --note-tint: theme('colors.notice.critical');
    }

    &:where(.note--highly-critical) {
        --note-tint: theme('colors.notice.highly-critical');
    }
}

.note__heading {
    @apply text-xl @lg:text-2xl font-semibold mb-2;

    --tw-prose-heading-weight-override: theme('fontWeight.bold');
}

.note__message {
    @apply text-base @lg:text-lg;
}

.embedded-content-preview:has(.note) {
    @apply block p-0;
}