{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*/
#}
{# Add poster to attributes #}
{% if poster is defined %}
  {% set attributes = attributes.setAttribute('poster', poster) %}
{% endif %}
<video {{ attributes }}>
  {% for file in files %}
    <source {{ file.source_attributes }} />
  {% endfor %}
  {% if attributes['data-subtitle'] is defined %}
    <track default src="{{ attributes['data-subtitle'] }}" />
  {% endif %}
</video>