.button-link>:is(a,button) {position: relative;margin-top: 0.5rem;margin-bottom: 0.5rem;border-radius: 0.375rem;padding-left: 1.5rem;padding-right: 1.5rem;padding-top: 0.75rem;padding-bottom: 0.75rem;font-size: 0.875rem;line-height: 1.25rem;font-weight: 600;text-decoration-line: none;text-decoration-thickness: 0px;--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);--tw-ring-inset: inset;transition-duration: 300ms;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}.button-link>:is(a,button):hover {cursor: pointer
}.button-link>:is(a,button):focus-visible {outline-color: #0284c7
}.button-link>:is(a,button) {display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;--tw-bg-opacity: 1;background-color: rgb(2 132 199 / var(--tw-bg-opacity, 1));--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity, 1));--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}.button-link>:is(a,button):hover {--tw-bg-opacity: 1;background-color: rgb(3 105 161 / var(--tw-bg-opacity, 1))
}@media (min-width: 768px) {.button-link>:is(a,button) {display: inline-block
    }
}