{# Set multiple attributes using setAttribute method #}
{% set attributes = attributes.setAttribute('autocomplete', 'one-time-code') %}
{% set attributes = attributes.setAttribute('inputmode', 'numeric') %}

{{ include('sector_theme:input', {
    libraries: [ ],
    utility_classes: [ 'max-w-[20ch]' ],
    attributes: attributes
})}}
