
{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{{ include("sector_theme:button", {
  attributes: attributes.removeClass('button'),
  remove_form_control: true,
  utility_classes: ['btn', 'btn-primary']
})}}