{% include "sector_demo:subtitle" with {
    libraries: [
        'sector_demo/subtitle'
    ],
    utility_classes: [
        'subtitle',
        'text-xl',
        'lg:text-2xl',
        'space-y-4'
    ]
} %}