{#
/**
 * @file
 * Template for the page title.
 */
#}
{% include "sector_starterkit:title" with {
    libraries: [
        'sector_starterkit/page-title'
    ],
    title_utility_classes: [
        'text-xl', 'md:text-2xl','font-sans','font-bold','tracking-tight',
    ]
} %}
