{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
<div class="@container/card h-full">
{{ include("sector_starterkit:card", {
    entity: 'block-content',
  attributes: region_attributes.content,
    libraries: ['sector_starterkit/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    title_classes: [ 'text-xl', 'md:text-2xl', 'font-sans', 'font-black', 'tracking-tight', 'bg-white px-4 py-5 sm:px-6' ],
    title_link_attributes: title_link_attributes.setAttribute('rel', 'bookmark'),
    title_link_classes: ['hover:text-sky-700', 'focus-visible:text-sky-600'],
    utility_classes: [
        'card',
        'card--standard',
        'overflow-hidden',
        'bg-white',
        'rounded-lg',
        'shadow',
        'h-full',
        'text-center',
    ],
    content_classes: [
        'px-4 py-5 sm:p-6 space-y-2'
    ]
})}}
</div>
