{#
/**
 * @file
 * Template for a block.
 */
#}
{% embed 'sector_theme:alert' with {
    type: 'info',
    aria_live: 'polite',
    libraries: [ ]
} %}
  {% block content %}
    {{ content }}
  {% endblock %}
{% endembed %}
