
{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{{ include('sector_starterkit:button', {
  type: 'submit',
  utility_classes: [
    'btn',
    'btn--primary',
    'btn--' ~ attributes.action ?? 'submit'
  ],
  libraries: [ ],
  attributes: attributes|without('action'),
  button_content: attributes.value,
  icon: attributes.action == 'reset' ? 'refresh' : 'search'
}) }}
{{ children }}