{% set attributes = create_attribute() %}
{%
  set icon_classes = [
    'material-symbols-sharp',
    'pointer-events-none'
  ]|merge(utility_classes ? utility_classes : [])
%}
<span {{ attributes.setAttribute('aria-hidden', 'true').addClass(icon_classes)}} role="img">{{ icon }}</span>