.region:where(.help) {
  --container-max-width: theme('breakpoints.2xl');
  --container-padding: theme(spacing.4);

  @media (min-width: theme('screens.lg')) {
    --container-padding: theme(spacing.8);
  }

  .alert {
    max-height: 50vh;
    overflow: auto;
  }

  .region__container:has([data-drupal-messages-fallback] ~ *, div) {
    @apply bg-neutral-100 bg-opacity-80 shadow-inner w-auto py-5 space-y-3;

    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}
