{{ include('sector_demo:megamenu-body', {
    heading_elem: 'h2',
    heading_link_text: heading_link_text,
    attributes: attributes.setAttribute('aria-live', 'polite'),
    utility_classes: [
        'megamenu-body'
    ]
}) }}