.prose {
    --tw-ring-color: var(--a11y-focus-color, orange);
}

.table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

:is(.align-left, .align-right) {
    --floated-space: 1rem;

    float: var(--float);
    margin-top: 0;

    &:not(:last-child) {
        margin-block-end: var(--floated-space);
    }
}

:is(.align-left) {
    --float: left;

    margin-inline-end: var(--floated-space);
}

:is(.align-right) {
    --float: right;

    margin-inline-start: var(--floated-space);
}

:is(.ck, .prose) {
    :is(ul[type="disc"]) {
        list-style-type: var(--prose-ul-list-type, disc);
    }
    :is(ul[type="circle"]) {
        list-style-type: var(--prose-ul-list-type, circle);
    }
    :is(ul[type="square"]) {
        list-style-type: var(--prose-ul-list-type, square);
    }
}
